*{
    box-sizing:border-box;
}
body{
    background-color: rgb(0,0,0);
    align-items:center;
    display:flex;
    min-height:100vh;
    margin:0;
    justify-content:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#parent{
    background-color:rgba(255, 255, 255, 0.715);
    padding:25px 25px;
    border-radius:20px;
    border: 2px solid;
    width:100%;
    border-color:rgb(241, 155, 7);
    max-width: 500px;
    display:flex;
    flex-direction:column;
    gap:15px;

}

.color-btn{
    padding:15px;
    border:2px solid black;
    border-radius:10px;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    transition:0.5s;
    color:rgb(65, 6, 24);
    background-color:aliceblue;
 
}

#parent h1{
    color:navy;
    font-family:cursive;
    font-size: 40px;
    text-align:center;
    border-bottom: 4px solid brown;
}

.color-btn:hover{
    transform:scale(1.02);
    
    
}

#red:hover{
    box-shadow: 0 5px 20px rgb(211, 7, 7);
}

#yellow:hover{
    box-shadow: 0 5px 20px rgb(241, 234, 6);
}

#blue:hover{
    box-shadow: 0 5px 20px rgba(39, 9, 214, 0.824);
}

#pink:hover{
    box-shadow: 0 5px 20px rgb(232, 144, 231);
}
#orange:hover{
    box-shadow:0 5px 20px rgb(217, 110, 2);
}
